langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langchain-chroma
chromadb[all]  # Ensure this installs all ChromaDB dependencies
pysqlite3-binary
langchain-community-vectorstores-faiss
streamlit
